.formGroup {
    @at-root .formGroupLabel {
        font-size: 15px;
        line-height: 1;
        font-weight: 500;
    }
}

.note {
    font-family: Hack, Monaco, 'Courier New', monospace, 'Apple Color Emoji';
}
