.container {
    flex: 1 1 0;
    flex-basis: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.fields {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
        margin: 0;
        padding: 0;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        padding: 10px;
        height: 40px;
        vertical-align: top;
    }

    td {
        border-left: 1px solid #ddd;
    }

    .fieldName {
        width: 200px;
    }

    .fieldContent {
        display: flex;
        width: 100%;
    }

    .emptyFieldItem {
        color: #999;

        .input,
        .textarea {
            &::placeholder {
                color: #999;
            }
        }
    }

    .focusedFieldItem {
        background: #f2f2f3;

        .input,
        .textarea {
            outline: 0;
        }
    }

    .errorFieldItem {
        background: #ffeaea;
        color: #b13333;

        .input,
        .textarea {
            color: #b13333;

            &::placeholder {
                color: #f19999;
            }
        }

        .errorMessage {
            display: block;
            margin: 8px;
        }
    }

    .fieldItemIndent1 {
        .fieldName {
            padding-left: 20px;
        }
    }

    .fieldItemIndent2 {
        .fieldName {
            padding-left: 40px;
        }
    }

    .fieldItemIndent3 {
        .fieldName {
            padding-left: 60px;
        }
    }
}

.input {
    flex: 1 1 0;

    display: block;

    width: 100%;
    min-width: 0;
    height: 40px;
    padding: 8px;

    border: 0;
    background: transparent;

    font-size: 14px;
    line-height: 20px;
    font-family: monospace;
}

.textarea {
    flex: 1 1 0;

    display: block;

    width: 100%;
    min-width: 0;
    height: 122px;
    padding: 8px;

    border: 0;
    background: transparent;

    font-size: 14px;
    line-height: 24px;
    font-family: monospace;

    word-break: break-all;
    resize: none;
}

.qrcode {
    position: relative;

    &Button {
        width: 80px;
        height: 40px;

        background: transparent;
        border: 0;

        color: #999;

        &:hover {
            color: inherit;
        }

        &:disabled {
            color: #ddd;
        }
    }

    &ButtonDanger {
        color: #c10000;

        &:hover {
            color: #c10000;
        }
    }

    &Popover {
        display: none;

        position: absolute;
        top: 40px;
        right: 0;

        padding: 10px;
        background: #fff;
        border: 1px solid #ddd;
    }

    &Error {
        margin: -10px;
        padding: 10px;
        background: #ffe3e3;
        color: #c10000;
        white-space: nowrap;
    }

    &Button:focus + &Popover {
        display: block;
    }
}

.json {
    display: block;

    width: 100%;
    overflow-x: auto;

    font-size: 14px;
    line-height: 24px;
    font-family: monospace;
}
