.container {
    flex: 1 1 0;
}

.panels {
    flex-basis: 0;
}

.textarea {
    display: block;
    padding: 12px;
    border: 0;

    font-size: 14px;
    line-height: 24px;
    font-family: monospace;

    &:focus {
        outline: 0;
    }

    &:read-only {
        background: #f6f6f7;
    }
}

.imageBox {
    padding: 16px;
    background: url(./image-bg.svg);
    overflow: auto;
}

.image {
    max-width: 100%;
}
