.input {
    height: 32px;
    padding: 4px 5px;
    border-radius: 2px;
    border: 1px solid #000;
    font-size: 12px;
    line-height: 1;
}

.monospaceInput {
    font-family: Hack, Monaco, 'Courier New', monospace, 'Apple Color Emoji';
}
