{
    "printWidth": 100,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "./src/App.js",
            "options": {
                "printWidth": 140
            }
        }
    ]
}
