@use 'nojiko/sass/nojiko';

.duration,
.time {
    font-family: 'SF Pro', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;

    .char {
        width: 0.57em;
        text-align: center;

        &[data-char=':'],
        &[data-char='-'],
        &[data-char='.'] {
            width: 0.36em;
            padding-left: 1px;
        }

        &[data-char='.'],
        &[data-char='.'] + *,
        &[data-char='.'] + * + *,
        &[data-char='.'] + * + * + * {
            opacity: 0.4;
            font-size: 40px;
            line-height: 40px;
            align-self: flex-end;
            margin-bottom: 0.36em;
        }
    }
}

.durationClock {
    padding: 70px 0;
    font-size: 127px;
    line-height: 127px;
    justify-content: center;
    font-weight: 300;
}

.timer {
    background: var(--background-color-loud);
    padding: 30px;
    border-radius: 10px;

    .delete {
        background: transparent;
        appearance: none;
        border: 0;
        border-radius: 0;
        color: var(--primary-color);
    }
}

.timeline {
    height: 80px;
    position: relative;

    .ranges {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.3;
    }

    .range {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(var(--range-start) * 100%);
        right: calc(100% - var(--range-end) * 100%);
        background: rgba(0, 0, 0, 1);
    }

    .records {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .record {
        width: 1px;
        background: #000;
        @include nojiko.position(absolute, 0 null 0 calc(var(--record-position) * 100%));
        @include nojiko.expand-scope(0 -3px, $position: absolute);
    }
}
