.container {
    flex: 1 1 0;
}

.configEditorContainer {
    overflow: auto;
}

.funIntro,
.funOutro {
    color: #777;
    font-size: 13px;
    font-family: Hack, Monaco, 'Courier New', monospace, 'Apple Color Emoji';
}

.funOutro {
    height: 30px;
    padding: 0 10px;
    background: #f6f6f7;
}

.paramName {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    color: #aaa;
    cursor: not-allowed;

    .data {
        display: none;
    }

    &.active {
        font-weight: 800;
        color: #2f81c4;
        cursor: default;

        &:focus .data {
            display: block;

            position: absolute;
            top: 20px;
            left: 0;
            z-index: 1;

            width: 500px;
            height: 300px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #000;

            font-weight: normal;
            color: #000;

            overflow: auto;
        }
    }
}
