.container {
    height: 100%;
}

.size {
    margin: 0;
    font-family: monospace;
    font-size: 13px;
}

.code,
.minCode {
    display: block;
    height: 100%;
    padding: 12px;
    border: 0;

    font-size: 14px;
    line-height: 24px;
    font-family: monospace;

    &:focus {
        outline: 0;
    }

    &:read-only {
        background: #f6f6f7;
    }
}

.minCode {
    word-break: break-all;
}

.error {
    padding: 12px;
    background: #ffe3e3;
    color: #c10000;
    font-family: monospace;
}
