.container {
    flex: 1 1 0;
}

.sizes {
    margin: 0;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    > dt,
    > dd {
        float: left;
    }

    > dt {
        font-weight: 600;
        margin: 0;
        margin-right: 6px;

        &:after {
            content: ':';
        }
    }

    > dd {
        margin: 0;
        margin-right: 10px;

        &:after {
            content: ', ';
        }

        &:last-child:after {
            content: '; ';
        }
    }
}

.codearea {
    > .title {
        display: block;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        background: #f6f6f7;
    }

    > .code,
    > .minCode {
        display: block;
        padding: 12px;
        border: 0;

        font-size: 14px;
        line-height: 24px;
        font-family: monospace;

        &:focus {
            outline: 0;
        }

        &:read-only {
            background: #f6f6f7;
        }
    }

    > .minCode {
        word-break: break-all;
    }
}

.error {
    padding: 12px;
    background: #ffe3e3;
    color: #c10000;
    font-family: monospace;
}
