.numberInput {
    :global {
        .nami-textbox__editor {
            text-align: right;
            font-family: monospace;
        }
    }
}

.binaryBar {
    display: flex;

    &Item {
        box-sizing: content-box;
        width: 24px;
        height: 24px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        font-family: monospace;
        margin-right: 0px;
        margin-left: -1px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        cursor: default;

        &0 {
            background: #bae7ff;
        }

        &1 {
            background: #ffe8ba;
        }

        &:nth-child(4n) {
            margin-right: 12px;
        }

        &:nth-child(8n - 7),
        &:nth-child(8n) {
            position: relative;

            &:after {
                content: attr(data-index);
                position: absolute;
                height: 100%;
                top: calc(-100% + 2px);
                opacity: 0.4;
                transform: scale(0.8);
            }
        }

        &:nth-child(8n - 7) {
            &::after {
                left: 0;
            }
        }

        &:nth-child(8n) {
            &:after {
                right: 0;
            }
        }
    }
}
