.track {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    padding: 12px;
}

.addButton {
    padding: 4px 8px;
    align-self: flex-end;
}

.item {
    width: 430px;
}

.times {
    height: 162px;
    overflow: hidden;

    em {
        font-style: normal;
        opacity: 0.5;
        &::before,
        &::after{
            content: ' ';
        }
    }
}

.expandedTimes {
    height: auto;
}

.label {
    font-size: 12px;
    font-family: Hack, Monaco, 'Courier New', monospace, 'Apple Color Emoji';

    &Title {
        width: 130px;
        text-align: right;
    }

    &PreValue {
        white-space: pre;
        padding: 0;
    }
}

.tutorial {
    padding: 12px;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.6;
    font-family: monospace;

    dd {
        margin-left: 20px;
    }
}
