.container {
    flex: 1 1 auto;
}

.input {
    display: block;
    padding: 20px;
    border: 0;
    background: transparent;
    font-size: 13px;
    line-height: 23px;
    font-family: monospace;
    resize: none;
    opacity: 0.3;
    word-break: break-all;

    &:focus {
        outline: 0;
        opacity: 1;
    }
}

.dangerMessage {
    color: #b00;
    background: #fff0f0;
}

.display {
    padding: 20px;
    font-size: 13px;
    line-height: 23px;
    font-family: monospace;
    overflow: auto;
}

// json items
// ---------------------------

.items {
    padding-left: 2.44em;
}

.item {
    word-break: break-all;
}

.array {
    --bracket-color: #a40000;
}

.object {
    --bracket-color: #729fcf;
}

.array,
.object {
    > .length {
        display: none;
    }

    > .items {
        display: block;
    }

    &.fold {
        > .length {
            display: inline;
            user-select: none;
        }

        > .items {
            display: inline-block;
            font-size: 0;
            line-height: 0;
            width: 0;
            height: 0;
            pointer-events: none;
        }
    }
}

.bracket {
    color: var(--bracket-color);
}

.leftBracket {
    position: relative;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        top: -3px;
        bottom: -3px;
        left: -7px;
        right: -50px;
    }

    &:hover {
        font-weight: 700;

        ~ .items {
            box-shadow: inset 1px 0 0 var(--bracket-color);
            background: #f0f1f3;
        }

        ~ .length,
        ~ .bracket {
            font-weight: 700;
        }
    }
}

.property {
    color: #204a87;
}

.string {
    color: #4e9a06;
}

.number {
    color: #ad7fa8;
}

.null {
    color: #babdb6;
}

.boolean {
    color: #c4a000;
}
