.view {
    height: 100dvh;
}

.nav {
    padding: 0;
    background: #f0f1f2;

    > ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        flex-wrap: wrap;
    }
}

.navItem {
    display: block;
    padding: 6px 10px;

    > a {
        display: block;
        padding: 4px 10px;
        text-decoration: none;
        color: inherit;
    }
}

.navItem.active {
    > a {
        background: #242629;
        color: #fff;
    }
}

.main {
    flex: 1 1 0;
    min-height: 0;
    overflow: auto;
}