@use '@nami-ui/styles/index' as nami;

@import 'normalize.css/normalize.css';

:root {
    @include nami.variables();
}

@media (prefers-color-scheme: dark) {
    :root {
        @include nami.light-variables();
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font: 14px/20px sans-serif;
    color: #242629;
}

h1,
h2 {
    margin: 0;
}

em {
    font-style: normal;
    opacity: 0.5;
}

input {
    accent-color: #242629;
}

.monaco-aria-container {
    bottom: 0;
}
