@import 'normalize.css/normalize.css';

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2 {
    margin: 0;
}

input {
    accent-color: #242629;
}

.radix-themes {
    --default-font-size: var(--font-size-2);
    --default-line-height: var(--line-height-2);

    // TODO 需要去掉吗？
    -webkit-font-smoothing: unset;
    -moz-osx-font-smoothing: unset;
}

.monaco-aria-container {
    bottom: 0;
}
