.container {
    height: 100%;
}

.originalTextarea,
.transformedTextarea {
    display: block;
    resize: none;
    border: 0;
}

.originalRichTextPanel,
.transformedRichTextPanel {
    background: #f7f8fa;
    overflow: auto;
}