.container {
    flex: 1 1 auto;

    :global {
        .nami-divider {
            --nami-divider--color: #333;
            position: relative;
        }
    }
}

.originalTextarea,
.transformedTextarea {
    display: block;
    resize: none;
    border: 0;
}

.originalRichTextPanel,
.transformedRichTextPanel {
    background: #f7f8fa;
    overflow: auto;
}
