.container {
    flex: 1 1 auto;
}

.originalTextarea {
    display: block;
    resize: none;
}

.transformedTextarea {
    display: block;
    resize: none;
}

.previewPanel {
    background: #f0f1f2;
    overflow: auto;
}